{% extends 'todoapp/base.html' %}

{% block title %}Новая задача{% endblock %}

{% block content %}

<h1>{% if form.instance.pk %}Редактировать{% else %}Создать{% endif %} задачу</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if task.shared_with.all %}
        <p>🔗 Поделено с:
            {% for u in task.shared_with.all %}
            {{ u.username }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    {% endif %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Сохранить</button>
</form>

{% endblock %}
