{% extends 'todoapp/base.html' %}

{% block title %}Мои задачи{% endblock %}

{% block content %}

<h1>Мои задачи</h1>

<form method="get" class="mb-3">
    <input  type="text" name="q" class="form-control" placeholder="Поиск задач..." value="{{ request.GET.q }}">
</form>

{% if tasks %}
    <div class="list-group">
        {% for task in tasks %}
            <div class="list-group-item">
                <h5>
                    {% if task.completed %}
                        <s>{{ task.title }}</s>
                    {% else %}
                        {{ task.title }}
                        {% if task.is_urgent %}
                        <span class="badge bg-warning text-dark ms-2">⚠️ Скоро дедлайн</span>
                        {% endif %}
                    {% endif %}
                    {% if task.due_date %}
                        <small class="text-muted"> — до {{ task.due_date|date:"d.m.Y H:i" }}</small>
                    {% endif %}
                </h5>
                {% if task.image %}
                    <img src="{{ task.image.url }}" alt="Изображение" class="img-thumbnail" style="max-width: 200px;">
                {% endif %}
                <p>{{ task.description }}</p>
                {% if task.deadline %}
                    <p><strong>Дедлайн:</strong> {{ task.deadline|date:"d.m.Y H:i" }}</p>
                {% endif %}
                <p><strong>Статус:</strong> {% if task.completed %}✅ Выполнено{% else %}⏳ В процессе{% endif %}</p>

                <a href="{% url 'task_update' task.pk %}" class="btn btn-sm btn-primary">✏️ Редактировать</a>
                <a href="{% url 'task_delete' task.pk %}" class="btn btn-sm btn-danger delete">🗑️</a>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>Добавьте свою первую задачу!</p>
{% endif %}

{% endblock %}
